@model IEnumerable<comp2007_s2016_asgn_2.Models.MenuItems>

@{
    ViewBag.Title = "Our Menu";
}

<h2>@ViewBag.Title</h2>

@foreach (var item in Model) {
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="@Url.Action("Details")">
                <img src="~/Assets/@item.ImageName" style="width: 100%" />
            </a>
            <div class="caption">
                <h3>@item.Title</h3>
                <p>$@item.Price</p>
                <p>@item.Description.Substring(0, 50)...</p>
                <p><a href="@Url.Action("Details")" class="btn btn-info">More Info &raquo;</a></p>
            </div>
        </div>
    </div>
}

<!-- add custom clearfix -->
<div style="display: block; width: 100%; clear: both; visibility: hidden;"></div>
